*,
::after,
::before {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: white #ccc;
}

body {
    margin: 0;
    font-family: Comic Sans MS, cursive;
    font-optical-sizing: none;
    font-weight: 400;
    font-size: 1.3rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 3px !important;

    scrollbar-color: transparent !important;
    /*scroll de baixo*/
    overflow-x: hidden !important;
    /*scroll do lado*/
    overflow-y: auto !important;
}
*::selection {
    color: black;
    background: #56CCF2;

}

code {
    font-family: source-code-pro, Menlo, Monaco,
        Consolas, 'Courier New', monospace;
}



.hero-input{
    font-family: cursive;
    font-size: 1rem;
    color: #434343;
    letter-spacing: 2px;
    text-transform: uppercase;

    background: #fff;
    outline: none !important;
    border: none;

    width: 60%;
    transition: width 0.5s, background 0.2s;
}

.hero-input::placeholder {
    color: #434343;
    text-transform: capitalize;

}
.hero-input:focus {
    width: 90%;
    outline: thick double #F5F5F5 !important;
    text-transform: lowercase;
    background: #434343;
    color: #F5F5F5;

}

.hero-input:hover {
    width: 90%;
    outline: thick double #F5F5F5 !important;
    text-transform: lowercase;
    background: #434343;
    color: #F5F5F5;
    cursor: text;
}

.hero-input::selection{
    color: black;
    background: #56CCF2;
    
}


.hero-btn:focus{
    background: #434343 !important;
    color: #fff !important;
}

.hero-btn:hover {
    background: #434343 !important;
    color: #fff !important;
}